.sideMenu {
    -fx-background-color: #293039;
    -fx-border-style: solid;
    -fx-border-width: 1px 0px 0px 0px;
    -fx-border-color: #ecb23f;
}

.headerAria {
    -fx-background-color:#293039;
    -fx-border-style: solid;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #ecb23f;

}

.homeFooter {
    -fx-background-color: #293039;
}

.logOutButton {
    -fx-cursor: hand;
    -fx-background-radius: 0;
    -fx-font-weight: bold;
    -fx-text-fill: transparent;
    -fx-background-color: transparent;
}

.logOutButton:hover {
    -fx-background-color: #2A1C42;
}

.logOutButton:pressed {
    -fx-background-color: #222b36;
    -fx-text-fill: white;
}


/*------------------------------------------------------*/

.sideMenuButton {
    -fx-cursor: hand;
    -fx-background-radius: 0;
    -fx-pref-width: 250px;
    -fx-min-height: 48px;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-font-weight: bold;
    -fx-text-fill: #ecb23f;
    -fx-background-color: transparent;
}

.sideMenuButton:hover {
    -fx-background-color: #222b36;
}

.sideMenuButton:pressed {

    -fx-background-color: #1b132a;
    -fx-text-fill: white;
}

.glyph-icon1 {
    -fx-fill: #cd931f;
}

.sideMenuButton:pressed .glyph-icon1 {
    -fx-fill: white;
}

.glyph-icon1:hover {
    -fx-fill: #e4eaff;
    -fx-scale-x: 1.3;
    -fx-scale-y: 1.3;
    -fx-scale-z: 1.3;
}




