.parant {
    -fx-background-color: white;
}

.sidebar {
    -fx-background-color: #293039;
}

.contentbar {
    -fx-background-color: #fff;
}

.forgotBtn {
    -fx-text-fill: #a3a3a3;
}

.forgotBtn:hover {
    -fx-text-fill: #cd9d2d;
    -fx-underline: true;
}

.loginBtn {
    -fx-background-color: #293039;
    -fx-text-fill: #f39c3a;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.loginBtn:hover {

    -fx-text-fill: #ea9e47;
    -fx-border-color: #ea9e47;
    -fx-border-style: solid;
    -fx-background-radius: 5px;
}

.Register_form {
    -fx-background-color: #f1f1ff;
}

