.header {
    -fx-background-color: rgba(180, 190, 236, 0.51);
}

.fieldAria {
    -fx-background-color: #f9f6ff;
}

.button {
    -fx-background-color: #293039;
    -fx-text-fill: #eaa04c;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;

}

.button:hover {
    -fx-border-color: #ea9e47;
    -fx-border-style: solid;
    -fx-background-radius: 5px;
}




